page-helpmodules-short-view {
.col-setting{
	    background: white;
	    border: 1px solid #c7c6c6;
	    border-radius: 5px;
	    //height: 350px;
	    min-height: 100%;
	    font-size: 11px;
      padding:10px;
}
.title-grid{
	padding: 8px;
}
.custom-welcome button{
    width: 107px;
    margin: auto;
    background-color: rebeccapurple;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    border-bottom: 2px solid #3e007b;
  }
 .custom-welcome{
      text-align:center;
  }
.title-class{
  font-size: 1.6rem;
}
}